<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.db.BoardMapper">

	<insert id="upload" parameterType="com.smhrd.model.BoardDTO">
		insert into web_board values(num_board.nextVal,#{title},#{writer},#{filename},#{content},sysdate)
	</insert>
	
	<select id="showBoard" resultType="com.smhrd.model.BoardDTO">
		select * from web_board
	</select>
	
	<select id="showDetail" parameterType="int" resultType="com.smhrd.model.BoardDTO">
		select * from web_board where num=#{num}
	</select>
	

</mapper>