<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.smhrd.db.MemberMapper">

	<select id="select" parameterType="com.smhrd.model.MemberDTO"
		resultType="com.smhrd.model.MemberDTO">
		select * from web_member where email=#{email} and pw=#{pw}
	</select>

	<insert id="join" parameterType="com.smhrd.model.MemberDTO">
		insert into web_member values
		(#{email},#{pw},#{tel},#{address})
	</insert>

	<update id="updateMember" parameterType="Member">
		update web_member set pw=#{pw},tel=#{tel},address=#{address} where
		email=#{email}
	</update>

	<select id="allMember" parameterType="Member"
		resultType="Member">
		select * from web_member where not(email='admin')
	</select>

	<delete id="deleteMember" parameterType="String">
		delete from web_member
		where email=#{email}
	</delete>

	<select id="emailCheck" parameterType="String"
		resultType="boolean">
		SELECT case when count(*)>0 then 1 else 0 end result FROM web_member WHERE email=#{email}
	</select>




</mapper>