<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Archetype Created Web Application</display-name>
  
  
  <servlet>
  	<servlet-name>SelectAllprogram</servlet-name>
  	<display-name>SelectAllprogram</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.SelectAllprogram</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>JoinService</servlet-name>
  	<display-name>JoinService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinService</servlet-class>
  </servlet>
  
  
  
  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<display-name>LoginService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutService</servlet-name>
  	<display-name>LogoutService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LogoutService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateService</servlet-name>
  	<display-name>UpdateService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.UpdateService</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>DeleteService</servlet-name>
  	<display-name>DeleteService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DeleteService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmailCheckService</servlet-name>
  	<display-name>EmailCheckService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.EmailCheckService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MessageService</servlet-name>
  	<display-name>MessageService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.MessageService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DelMessageService2</servlet-name>
  	<display-name>DelMessageService2</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DelMessageService2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DelMessageAllService</servlet-name>
  	<display-name>DelMessageAllService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DelMessageAllService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>WriterService</servlet-name>
  	<display-name>WriterService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.WriterService</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>FrontController</servlet-name>
  	<display-name>FrontController</display-name>
  	<description></description>
  	<servlet-class>frontcontroller.FrontController</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>SelectAllprogram</servlet-name>
  	<url-pattern>/SelectAllprogram</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutService</servlet-name>
  	<url-pattern>/LogoutService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateService</servlet-name>
  	<url-pattern>/UpdateService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteService</servlet-name>
  	<url-pattern>/DeleteService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmailCheckService</servlet-name>
  	<url-pattern>/EmailCheckService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MessageService</servlet-name>
  	<url-pattern>/MessageService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DelMessageService2</servlet-name>
  	<url-pattern>/DelMessageService2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DelMessageAllService</servlet-name>
  	<url-pattern>/DelMessageAllService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>WriterService</servlet-name>
  	<url-pattern>/WriterService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JoinService</servlet-name>
  	<url-pattern>/JoinService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FrontController</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>

 
</web-app>